CONFIG_BOOTCOMMAND="fastboot usb 0"
CONFIG_ENV_IMPORT_FDT=y
# Configuration to allow editing UEFI variables, according to u-boot documentation
CONFIG_CMD_ENV=y
CONFIG_CMD_ENV_FLAGS=y
CONFIG_CMD_NVEDIT_EFI=y
CONFIG_CMD_NVEDIT_INFO=y
CONFIG_HEXDUMP=y